.container
  =link_to "HOME", "/", class: "btn btn-success margin-top-button pull-right"

  .page-header
    %h1
      = "Welcome #{current_user.full_name} to your complete Wineries List"
    - @wineries.each do |winery|
      %table.table
        %thead
          %tr
            %th
              Winery Name
            %th{colspan:2}
              Winery Location
        %tbody
          - @regions.each do |region|
            %tr
              %td
                = link_to winery.winery_name, region_winery_path(region, winery)
              %td
                = winery.state
                = link_to "Delete", region_winery_path(region, winery), class: "btn btn-danger pull-right",  method: :delete
                = link_to "Edit Winery", edit_region_winery_path(region, winery), class: "btn btn-primary pull-right"
