.container
  =link_to "Add New Wine", new_region_winery_wine_path, class: "btn btn-warning margin-top-button pull-right"
  = link_to "Back to Winery", region_wineries_path, class: "btn btn-info margin-top-button pull-right"
  %h1
    = "#{current_user.full_name}'s Wine List for the Region of #{@region.region_name} "

  %table.table
    %thead
      %tr
        %th Wine Name
        %th Grape Type
        %th Taste
        %th Bottle Rating
        %th Year Bottled
        %th Winery Name
        %th Number of Bottles
    %tbody
      - @wines.each do |wine|

        %tr
          %td
            = link_to wine.bottle_name, region_winery_wine_path(@region, @winery, wine)
          %td
            = wine.grape_type
          %td
            = wine.taste
          %td
            = wine.bottle_rating
          %td
            = wine.bottle_year
          %td
            = wine.winery_name
          %td
            = wine.amount
          %td
            = link_to "Delete Wine", region_winery_wine_path(@region, @winery, wine), method: :delete, data: {confirm: "You Sure?"}, class: "btn btn-danger"
          %td
            = link_to "Edit Wine Information", edit_region_winery_wine_path(@region, @winery, wine), class: "btn btn-success"
